.hero {
    display: flex;
    align-items: center;
    background: black;
    color: white;
    padding: 100px 0px;
    &__left {
        display: flex;
        flex-direction: column;
        gap: 50px;
        h1 {
            font-size: 64px;
            font-weight: 700;
        }
        p {
            color: rgb(139, 142, 153);
            font-size: 16px;
            font-weight: 600;
        }

        form {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            border: 1px solid transparent;
            border-radius: 15px;
            background: rgb(255, 255, 255);
            padding: 5px;
            .img {
                font-size: 16px;
                color: rgb(56, 88, 214);;
            }
            input {
                font-size: 16px;
                font-weight: 600;
                border: none;
                padding: 0px 16px;
                outline: none;
            }
            button {
                width: 112px;
                height: 45px;
                border: 1px solid transparent;
                border-radius: 9px;
                background: rgb(56, 88, 214);
                font-size: 18px;
                font-weight: 600;
                color: white;
            }
        }
    }
}

@media (max-width: 1050px) {
    .hero__right {
        display: none;
    }
}

@media (max-width: 700px) {
    .hero {
        padding: 50px 0px;
        &__left {
            gap: 20px;
            h1 {
                font-size: 46px;
            }
        }
    }
}

@media (max-width: 500px) {
    .hero {
        &__left {
            text-align: center;
            p {
                font-size: 12px;
            }
        }
    }
}

@media (max-width: 420px) {
    .hero__left {
        form {
            input {
                font-size: 14px;
                width: 160px;
                padding: 0px 6px;
            }

            button {
                width: 80px;
                height: 45px;
                font-size: 14px;
            }
        }
    }
}

@media (max-width: 370px) {
    .hero {
        &__left {
            h1 {
                font-size: 36px;
            }

            p {
                font-size: 10px;
            }
            form {
                justify-content: flex-start;
                background: none;
                input {
                    display: none;
                }
    
                button {
                    width: 80px;
                    height: 45px;
                    font-size: 14px;
                }

                .img {
                    display: none;
                }
            }
        }
    }

}